html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0; padding: 0; border: 0;
    font-size: 100%; font: inherit; vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote::before, blockquote::after, q::before, q::after {
    content: ''; content: none;
}
table { border-collapse: collapse; border-spacing: 0; }


.orange_button, .gray_button, .white_button {
    border-radius: 10px;
    font-size: medium;
    font-weight: 600;
    border: none;
    display: inline-block;
    margin: 5px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.orange_button {
    width: 190px; height: 60px;
    background-color: #FF6F0E; color: #FFFFff;
}
.orange_button:hover,
.gray_button:hover,
.white_button:hover,
.keyword_btn:hover {
    background-color: #dcddde;
}
.gray_button {
    width: 155px; height: 47px;
    padding: 12px 26px;
    background-color: #F1F3F5;
}
.white_button {
    width: 118px; height: 41px;
    background-color: #F2F3F6; margin: 0;
}

.body_content_1, .body_content_2, .body_content_3, .body_content_4, .body_content_5 {
    height: 700px; width: 1024px; margin: auto; display: flex;
}
.body_content_1, .body_content_2, .body_content_3, .body_content_4 {
    flex-direction: row;
}
.body_content_1 { background-color: #fffae0; width: 100vw; height:807px; box-sizing: border-box; padding: 50px 0 0 500px; }
.body_content_2, .body_content_4 { background-color: white; }
.body_content_3 { background-color: #E6F3E6;width: 100vw; height:807px; box-sizing: border-box; padding: 50px 0 0 500px; }
.body_content_5 {
    background-color: #F8F9FA;
    flex-direction: column;
}

.body_wrap {
    padding: 20px; width: 100%;
}
.search_input {
    width: 250px; padding: 10px; margin-left: 70px;
    border-radius: 0.6rem; border: none; outline: none;
    background-color: #f2f3f6;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.big {
    font-size: 3.2rem; line-height: 1.3; font-weight: 500;
    padding-top: 16rem; margin-bottom: 2.6rem; letter-spacing: -0.4px;
}
.medium {
    font-size: 2.5rem; line-height: 1.3; font-weight: 500;
    padding-top: 16rem; margin-bottom: 2rem; letter-spacing: -0.4px;
}
.small {
    font-size: 1.0rem; font-weight: 400;
    line-height: 1.5; letter-spacing: -0.3px;
}

.image_1 { margin-top: 120px; }
.image_2 { margin-right: 60px; }

.row {
    display: flex; flex-direction: row;
    justify-content: space-evenly;
}
.item_row {
    display: flex; flex-direction: row;
    justify-content: center; gap: 32px;
    margin-bottom: 50px;
}
.item {
    width: 200px; height: 300px;
    flex-grow: 0; flex-basis: auto;
}
.item_name, .item_cost, .item_place {
    margin-top: 10px;
}
.item_name, .item_place {
    font-weight: 400;
}
.item_cost {
    font-weight: 700;
}
.item_place {
    font-size: smaller;
}
.like_chating {
    display: flex; flex-direction: row;
    color: #868e96; margin-top: 10px;
}
.like, .chat {
    font-size: smaller;
}

.naver { margin-top: 30px; }
.naver_medium {
    font-weight: 700; font-size: smaller;
}
.naver_small {
    margin-left: 20px;
    font-size: smaller;
    width: 120px;
}

.top_title {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 100px 0;
    text-align: center;
}

.more_item_wrap, .keyword_wrap {
    display: flex; justify-content: center;
}
.more_item_btn, .keyword_title {
    border: none; background-color: white;
    font-weight: bold; text-decoration: underline;
    font-size: medium;
}
.more_item_btn { margin-top: 50px; margin-bottom: 150px; }

.keyword_title {
    margin-top: 100px; margin-bottom: 50px;
}
.keyword_wrap_row {
    display: flex; flex-direction: row;
    justify-content: space-around;
}
.keyword_btn {
    border: none; background-color: white;
    font-size: medium;
    margin-bottom: 50px; margin-left: 20px;
}

.bottom-nav {
    background-color: #ff6f0f; font-size: medium; color: #fff;
    width: 100vw; max-width: 100vw; min-width: 320px;
    height: 275px; display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
    box-sizing: border-box;
    margin: 0 auto;
    overflow: hidden;
}
.bottom-nav-left {
    display: flex; gap: 40px;
}
.menu-btn {
    color: #fff; font-size: 1.1rem; font-weight: 500;
    background: none; border: none; cursor: pointer;
}
.bottom-nav-right {
    display: flex; flex-direction: column;
    align-items: flex-end;
}
.download-title {
    color: #fff; font-size: 1rem;
    font-weight: 500; margin-bottom: 10px;
}
.download-btn-group {
    display: flex; gap: 10px;
}