<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/css/header/header.css">
  <link rel="stylesheet" href="/css/mainpage/mainPage_styles.css">
  <link rel="stylesheet" href="/css/trade/trade_styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>당근마켓메인페이지</title>
</head>
<body>
  <header th:replace="~{fragments/header :: headerFragment}"></header>
  <div class="body_content_1">
    <div class="body_wrap">
      <h2 class="big">당신 근처의 <br> 지역 생활 커뮤니티</h2>
      <p class="small">동네라서 가능한 모든 것<br>당근에서 가까운 이웃과 함께해요.</p>
      <button class="orange_button" onclick="window.open('https://play.google.com/store/apps/details?id=com.towneers.www&hl=ko')"><img src="https://raw.githubusercontent.com/Jaekyung89/Danggeun/refs/heads/MainPage/src/main/resources/static/asset/googleplay.png" alt="Google"> </button>
      <button class="orange_button" onclick="window.open ('https://apps.apple.com/kr/app/%EB%8B%B9%EA%B7%BC/id1018769995')"><img src="https://raw.githubusercontent.com/Jaekyung89/Danggeun/refs/heads/MainPage/src/main/resources/static/asset/appstore.png" alt="Apple"> </button>
    </div>
    <div class="body_wrap">
      <img src="https://raw.githubusercontent.com/Jaekyung89/Danggeun/refs/heads/MainPage/src/main/resources/static/asset/charater.png" alt="캐릭터 이미지" width="510" height="634">
    </div>
  </div>

  <div class="body_content_2">
    <div class="body_wrap">
      <img src="https://raw.githubusercontent.com/Jaekyung89/Danggeun/refs/heads/MainPage/src/main/resources/static/asset/main1.png" alt="메인 이미지1" width="533" height="685">
    </div>
    <div class="body_wrap">
      <h2 class="medium">우리 동네 <br>중고 직거래 마켓</h2>
      <p class="small">동네 주민들과 가깝고 따뜻한 거래를 지금 경험해 보세요.</p>
      <button class="gray_button">인기매물 보기</button>
    </div>
  </div>
  <div class="body_content_3">
    <div class="body_wrap">
      <h2 class="medium">이웃과 함께하는 <br>동네생활</h2>
      <p class="small">우리 동네의 다양한 이야기를 이웃과 함께 나누어요</p>
      <div class="row">
        <img class="naver" src="https://raw.githubusercontent.com/Jaekyung89/Danggeun/refs/heads/MainPage/src/main/resources/static/asset/main2_1.png" alt="우리동네질문" width="56" height="56">
        <img class="naver" src="https://raw.githubusercontent.com/Jaekyung89/Danggeun/refs/heads/MainPage/src/main/resources/static/asset/main2_2.png" alt="동네분실센터" width="56" height="56">
        <img class="naver" src="https://raw.githubusercontent.com/Jaekyung89/Danggeun/refs/heads/MainPage/src/main/resources/static/asset/main2_3.png" alt="동네모임" width="56" height="56">
      </div>
      <div class="row">
        <p class="naver_medium" style="margin-right: 50px; margin-left: 20px">우리동네질문</p>
        <p class="naver_medium" style="margin-right: 60px;">동네분실센터</p>
        <p class="naver_medium" style="margin-right: 25px;">동네모임</p>
      </div>
      <div class="row">
        <p class="naver_small">궁금한 게 있을 땐 <br>이웃에게 물어보세요</p>
        <p class="naver_small">무언가를 잃어버렸을 때,함께 찾을 수 있어요.</p>
        <p class="naver_small">관심사가 비슷한 이웃과 온오프라인으로 만나요.</p>
      </div>
    </div>
    <div class="body_wrap">
      <img src="https://raw.githubusercontent.com/Jaekyung89/Danggeun/refs/heads/MainPage/src/main/resources/static/asset/main2.png" alt="메인 이미지2" width="557" height="756">
    </div>
  </div>
  <div class="body_content_4">
    <div class="body_wrap">
      <img class="image_2" src="https://raw.githubusercontent.com/Jaekyung89/Danggeun/refs/heads/MainPage/src/main/resources/static/asset/main3.png" alt="메인 이미지3" width="526" height="736">
    </div>
    <div class="body_wrap">
      <h2 class="medium">내 근처에서 찾는<br>동네가게</h2>
      <p class="small">우리 동네 가게를 찾고 있나요?<br>동네 주민이 남긴 진짜 후기를 함께 확인해보세요!</p>
      <button class="gray_button" style="margin-top: 30px;">동네가게 찾기</button>
    </div>
  </div>
</div>
<!--타임리프 연동으로 DB 관리 예정-->
  <div>
    <h1 class="top_title">중고거래 인기매물</h1>
    <div class="item-grid">
      <div th:each="item : ${items}">
        <div th:replace="~{fragments/tradeItem :: tradeItemFragment(${item})}"> </div>
      </div>
    </div>
  </div>
    <div class="more_item_wrap">
      <button class="more_item_btn">인기매물 더보기</button>
    </div>
  </div>
</div>
<div class="content_5">
  <div class="keyword_wrap">
    <button class="keyword_title">인기검색어</button>
  </div>
  <div class="keyword_wrap">
    <div class="keyword_wrap_row">
      <button class="keyword">텀블러</button>
      <button class="keyword">노트북</button>
      <button class="keyword">책상</button>
      <button class="keyword">맥북</button>
      <button class="keyword">카메라</button>
      <button class="keyword">스타벅스</button>
      <button class="keyword">에어컨</button>
      <button class="keyword">모니터</button>
      <button class="keyword">선풍기</button>
      <button class="keyword">책</button>
    </div>
  </div>
  <div class="bottom-nav">
    <div class="bottom-nav-left">
      <a th:href="@{/trade}" class="active"><b>중고거래</b></a>
      <a th:href="@{/chat}" class="menu-btn">채팅하기</a>
    </div>
    <div class="bottom-nav-right">
      <div class="download-title">당근 앱 다운로드</div>
      <div class="download-btn-group">
          <button class="white_button" onclick="window.open('https://play.google.com/store/apps/details?id=com.towneers.www&hl=ko')">Google Play</button>
          <button class="white_button" onclick="window.open ('https://apps.apple.com/kr/app/%EB%8B%B9%EA%B7%BC/id1018769995')">App Store</button>
        </div>
      </div>
  </div>
    <hr style="color:#495057">
  <script>
    function submitForm(event) {
      event.preventDefault(); // 기본 제출 이벤트 막기

      // 입력된 값 가져오기
      const search_input = document.getElementsByClassName("search_input")[0].value;
      // 입력된 값 출력
      alert(`검색어: ${search_input}`);
    }
  </script>
</div>
</body>
