<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글 작성</title>

    <link rel="stylesheet" th:href="@{/css/write/write_styles.css}">
</head>
<body>
<div class="container">

    <form th:action="@{/trade/submit}" th:object="${product}" method="post" enctype="multipart/form-data">
        <div class="form-row">
            <label class="image-upload">
                <img src="https://cdn-icons-png.flaticon.com/512/685/685655.png" alt="카메라 아이콘" />
                <input type="file" th:field="*{image}" accept="image/*" required style="display: none;" />
            </label>
            <div class="form-group">
                <label for="title">글 제목</label>
                <input type="text" th:field="*{title}" placeholder="글 제목" class="input-gray" required />

                <label for="price" style="margin-top: 14px;">가격</label>
                <input type="number" th:field="*{price}" placeholder="가격" class="input-gray" required />
            </div>
        </div>

        <div class="form-group textarea-group" style="margin-top: 24px;">
            <label for="detail">물품 설명</label>
            <textarea th:field="*{detail}" placeholder="게시글 내용을 작성해주세요." required></textarea>
        </div>

        <div class="form-group" style="margin-top: 24px;">
            <label for="address">거래 희망 장소</label>
            <input type="text" th:field="*{address}" placeholder="거래를 희망하는 장소" class="input-gray" required/>
        </div>

        <button type="submit" class="submit-btn">완료</button>
    </form>
</div>
<div id="category-modal" class="modal">
        <span class="close-btn" style="color:#aaa; float:right; font-size:28px; font-weight:bold; cursor:pointer;">×</span>
        <h2>새 카테고리 추가</h2>
        <div class="form-group">
            <label for="new-category-name">카테고리 이름</label>
            <input type="text" id="new-category-name" class="input-gray" placeholder="예: 디지털기기" />
        </div>
        <button id="save-category-btn" class="submit-btn">추가하기</button>
    </div>
</div>

</body>
</html>