<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- 헤더 프래그먼트 -->
<header class="main-header" th:fragment="headerFragment">
    <div class="header-container">
        <div class="header-left">
            <a th:href="@{/main}" class="logo">
                <img th:src="@{/images/dangguen.svg}">
            </a>
            <nav class="main-nav">
                <a th:href="@{/trade}" class="active">중고거래</a>
                <a th:href="@{/auth-town}">동네인증</a>
            </nav>
        </div>
        <div class="header-right">
            <input type="text" class="search-bar" placeholder="물품이나 동네를 검색해보세요">
            <div class="header-buttons">
                <a th:href="@{/chat}" class="btn btn-chat">채팅하기</a>

                <a th:href="@{/login}" class="btn btn-login" sec:authorize="isAnonymous()">로그인</a>

                <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()" style="margin: 0; display: flex; align-items: center;">
                    <button type="submit" class="btn btn-logout">로그아웃</button>
                </form>

            </div>
        </div>
    </div>
</header>
</html>