#header{
    height: 6.4rem
}
#header_wrap{
    height : 100%;
    width: 1024px;
    margin: auto;
    display: flex;
    flex-direction: row;
}
#header_content {
    display: flex;
    justify-content: center;
    align-items: center;
}
#header_content form {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}
.header_menu_selected{
    color: #ff6f0f;
    font-style: normal;
    font-weight: 700;
    font-size:large;
    background-color: white;
    border: none;
}
.header_menu{
    color: #4d5159;
    font-style: normal;
    font-weight: 700;
    font-size:large;
    background-color: white;
    border: none;
}
.search_input{
    width: 250px;
    padding: 10px;
    margin-left: 70px;
    border-radius: 0.6rem;
    border: none;
    outline: none;
    background-color: #f2f3f6;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.chat_button{
    border: 0.5px solid #b8bcc3;
    border-radius: 0.3rem;
    font-size: 1.0rem;
    font-weight: 600;
    margin:auto;
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;/*수평 가운데 정렬*/
    align-items: center; /*수직 가운데 정렬*/
    background-color: white;
}
