<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/bottom.css}">
</head>
<body>
<div class="content_5">
    <div class="keyword_wrap">
        <button class="keyword_title">중고거래 인기검색어</button>
    </div>
    <div class="keyword_wrap">
        <div class="keyword_wrap_row">
            <button class="keyword">자전거</button>
            <button class="keyword">의자</button>
            <button class="keyword">아이폰</button>
            <button class="keyword">냉장고</button>
            <button class="keyword">노트북</button>
            <button class="keyword">패딩</button>
            <button class="keyword">아이패드</button>
            <button class="keyword">모니터</button>
            <button class="keyword">스타벅스</button>
            <button class="keyword">책상</button>
        </div>
    </div>
    <hr style="color:#495057">

</div>
</body>
</html>