<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
<div id="header">
    <div id="header_wrap">
        <div id="header_content">
            <img src="./logo.png" width="150" height="auto"></div>
        <div id="header_content">
            <button class="header_menu_selected">중고거래</button>
        </div>
        <div id="header_content">
            <button class="header_menu">동네가게</button>
        </div>
        <div id="header_content">
            <button class="header_menu">알바</button>
        </div>
        <div id="header_content">
            <button class="header_menu">부동산 직거래</button>
        </div>
        <div id="header_content">
            <button class="header_menu">중고차 직거래</button>
        </div>
        <div id="header_content">
            <form onsubmit="submitForm(event)">
                <input class="search_input" type="text" placeholder="물품이나 동네를 검색해보세요">
                <button type="submit" class="chat_button">채팅하기</button>
            </form>
        </div>
    </div>
</div>
<script>
    function submitForm(event) {
        event.preventDefault(); // 기본 제출 이벤트 막기

        // 입력된 값 가져오기
        const search_input = document.getElementsByClassName("search_input")[0].value;
        // 입력된 값 출력
        alert(`검색어: ${search_input}`);
    }
</script>
</body>
</html>