<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/templates/mainPage.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<div id="header">
  <div id="header_wrap">
    <div class="header_content">
      <img src="./logo.png" width="150" height="auto"></div>
    <div class="header_content">
      <button class="header_menu_selected">중고거래</button>
    </div>
    <div class="header_content">
      <button class="header_menu">동네가게</button>
    </div>
    <div class="header_content">
      <button class="header_menu">알바</button>
    </div>
    <div class="header_content">
      <button class="header_menu">부동산 직거래</button>
    </div>
    <div class="header_content">
      <button class="header_menu">중고차 직거래</button>
    </div>
    <div class="header_content">
      <form onsubmit="submitForm(event)">
        <input class="search_input" type="text" placeholder="물품이나 동네를 검색해보세요">
        <button type="submit" class="chat_button">채팅하기</button>
      </form>
    </div>
  </div>
</div>
<div id="body">
  <div class="body_content_1">
    <div class="body_wrap">
      <h2 class="big">당신 근처의 <br> 지역 생활 커뮤니티</h2>
      <p class="small">동네라서 가능한 모든 것<br>당근에서 가까운 이웃과 함께해요.</p>
    </div>
    <div class="body_wrap">
      <img src="https://github-production-user-asset-6210df.s3.amazonaws.com/206796478/462331286-679a1c6d-1a55-45b7-9a92-a2464ceaa88a.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20250704%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250704T061828Z&X-Amz-Expires=300&X-Amz-Signature=a1597a2caec8f777e3404f50c35992d3b13302c105a4b2eaff804899c14726f0&X-Amz-SignedHeaders=host" alt="svg image" width="650" height="auto">
    </div>
  </div>
  <div class="body_content_2">

    <div class="body_wrap">
      <img src="https://github-production-user-asset-6210df.s3.amazonaws.com/206796478/462331314-bd1cb831-6364-44d1-851a-3b4c3d970a1d.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20250704%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250704T061903Z&X-Amz-Expires=300&X-Amz-Signature=9f330f4ca6549590c616f04bce698d0f2c833eb2878bba83537d5e169ac92e36&X-Amz-SignedHeaders=host" alt="svg image" height="auto">
    </div>
    <div class="body_wrap">
      <h2 class="medium">우리 동네 <br>중고 직거래 마켓</h2>
      <p class="small">동네 주민들과 가깝고 따뜻한 거래를 지금 경험해 보세요.</p>
      <button class="gray_button">인기매물 보기</button>
    </div>
  </div>
  <div class="body_content_3">
    <div class="body_wrap">
      <h2 class="medium">이웃과 함께하는 <br>동네생활</h2>
      <p class="small">우리 동네의 다양한 이야기를 이웃과 함께 나누어요</p>
      <div class="row">
        <img class="naver" src="https://github-production-user-asset-6210df.s3.amazonaws.com/206796478/462331381-c9a146cc-04f4-41c3-b85d-fdf9131c3dcc.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20250704%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250704T061925Z&X-Amz-Expires=300&X-Amz-Signature=7c7754e50b50a4cc67dd0c41f3bc2876aa58865fbb4884ba0274b6500c110e90&X-Amz-SignedHeaders=host" alt="svg image">
        <img class="naver" src="https://github-production-user-asset-6210df.s3.amazonaws.com/206796478/462331392-c34cbb65-f8bc-4b91-8415-b00789e418c3.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20250704%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250704T061934Z&X-Amz-Expires=300&X-Amz-Signature=00c55aea91e2c0d14dc7e330d4824c4e83ba8dfb82802f9f96ff6667eb8907ee&X-Amz-SignedHeaders=host" alt="svg image">
        <img class="naver" src="https://github-production-user-asset-6210df.s3.amazonaws.com/206796478/462331409-06c8c5b7-1921-4e7f-8db4-2ea6151cc832.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20250704%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250704T061945Z&X-Amz-Expires=300&X-Amz-Signature=40a51fd0ae5517304dad279272295062f4bde9c8a8d816c497d97a4b0caf7291&X-Amz-SignedHeaders=host" alt="svg image">
      </div>
      <div class="row">
        <p class="naver_medium" style="margin-right: 50px; margin-left: 20px">우리동네질문</p>
        <p class="naver_medium" style="margin-right: 60px;">동네분실센터</p>
        <p class="naver_medium" style="margin-right: 25px;">동네모임</p>
      </div>
      <div class="row">
        <p class="naver_small">궁금한 게 있을 땐 이웃에게 물어보세요</p>
        <p class="naver_small">무언가를 잃어버렸을 때, 함께 찾을 수 있어요.</p>
        <p class="naver_small">관심사가 비슷한 이웃과 온오프라인으로 만나요.</p>
      </div>
    </div>
    <div class="body_wrap">
      <img src="https://github-production-user-asset-6210df.s3.amazonaws.com/206796478/462331323-7a01ccdd-5d95-48c6-b7a5-eb5b6c822753.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20250704%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250704T061913Z&X-Amz-Expires=300&X-Amz-Signature=d5b0638bbb1aee69097b3ae1545a108a376cc35d7205703082fe5f4746f30b6a&X-Amz-SignedHeaders=host" alt="svg image" width="500" height="auto">
    </div>
  </div>
  <div class="body_content_2">

    <div class="body_wrap">
      <img class="image_2" src="https://github-production-user-asset-6210df.s3.amazonaws.com/206796478/462331417-709fc9ee-8eaa-406a-a61f-bc1dcc11e4ee.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20250704%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250704T061958Z&X-Amz-Expires=300&X-Amz-Signature=f1bee7045689a09a278d466d9d3395b137c1dfe992642178c4055ca7a1447b5d&X-Amz-SignedHeaders=host
" alt="svg image" width="450" height="auto">
    </div>
    <div class="body_wrap">
      <h2 class="medium">내 근처에서 찾는<br>동네가게</h2>
      <p class="small">우리 동네 가게를 찾고 있나요?<br>동네 주민이 남긴 진짜 후기를 함께 확인해보세요!</p>
      <button class="gray_button" style="margin-top: 30px;">당근마켓 동네가게 찾기</button>
    </div>
  </div>
</div>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/templates/tradeList.css">
</head>
<body>
<div>
  <h1 class="top_title">중고거래 인기매물</h1>
  <div class="content_4_wrap">
    <div class="item_row">
      <div class="item">
        <img src="https://github-production-user-asset-6210df.s3.amazonaws.com/206796478/462331392-c34cbb65-f8bc-4b91-8415-b00789e418c3.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20250704%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250704T061934Z&X-Amz-Expires=300&X-Amz-Signature=00c55aea91e2c0d14dc7e330d4824c4e83ba8dfb82802f9f96ff6667eb8907ee&X-Amz-SignedHeaders=host" style="border-radius: 12px; width:200px">
        <h2 class="item_name">위닉스제습기</h2>
        <h2 class="item_cost">50,000원</h2>
        <h1 class="item_place">서울 마포구 서교동</h1>
        <div class="like_chating">
          <span class="like">관심 18</span>
          <span>&nbsp;&nbsp;・&nbsp;&nbsp;</span>
          <span class="chat">채팅 40</span>
        </div>
      </div>
      <div class="item">
        <img src="https://github-production-user-asset-6210df.s3.amazonaws.com/206796478/462331392-c34cbb65-f8bc-4b91-8415-b00789e418c3.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20250704%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250704T061934Z&X-Amz-Expires=300&X-Amz-Signature=00c55aea91e2c0d14dc7e330d4824c4e83ba8dfb82802f9f96ff6667eb8907ee&X-Amz-SignedHeaders=host" style="border-radius: 12px; width:200px">
        <h2 class="item_name">LG 모니터 팝니다</h2>
        <h2 class="item_cost">150,000원</h2>
        <h1 class="item_place">경기도 안양시 만안구 안양동</h1>
        <div class="like_chating">
          <span class="like">관심 32</span>
          <span>&nbsp;&nbsp;・&nbsp;&nbsp;</span>
          <span class="chat">채팅 60</span>
        </div>
      </div>
      <div class="item">
        <img src="https://github-production-user-asset-6210df.s3.amazonaws.com/206796478/462331392-c34cbb65-f8bc-4b91-8415-b00789e418c3.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20250704%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250704T061934Z&X-Amz-Expires=300&X-Amz-Signature=00c55aea91e2c0d14dc7e330d4824c4e83ba8dfb82802f9f96ff6667eb8907ee&X-Amz-SignedHeaders=host" style="border-radius: 12px; width:200px">
        <h2 class="item_name">닌텐도 스위치 2 마리오카트 월드 미개봉</h2>
        <h2 class="item_cost">650,000원</h2>
        <h1 class="item_place">광주 남구 임암동</h1>
        <div class="like_chating">
          <span class="like">관심 32</span>
          <span>&nbsp;&nbsp;・&nbsp;&nbsp;</span>
          <span class="chat">채팅 8</span>
        </div>
      </div>
      <div class="item">
        <img src="https://github-production-user-asset-6210df.s3.amazonaws.com/206796478/462331392-c34cbb65-f8bc-4b91-8415-b00789e418c3.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20250704%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250704T061934Z&X-Amz-Expires=300&X-Amz-Signature=00c55aea91e2c0d14dc7e330d4824c4e83ba8dfb82802f9f96ff6667eb8907ee&X-Amz-SignedHeaders=host" style="border-radius: 12px; width:200px">
        <h2 class="item_name">아이폰16pro</h2>
        <h2 class="item_cost">800,000원</h2>
        <h1 class="item_place">충북 청주시 용암동</h1>
        <div class="like_chating">
          <span class="like">관심 12</span>
          <span>&nbsp;&nbsp;・&nbsp;&nbsp;</span>
          <span class="chat">채팅 36</span>
        </div>
      </div>
    </div>
    <div class="item_row">
      <div class="item">
        <img src="https://github-production-user-asset-6210df.s3.amazonaws.com/206796478/462331392-c34cbb65-f8bc-4b91-8415-b00789e418c3.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20250704%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250704T061934Z&X-Amz-Expires=300&X-Amz-Signature=00c55aea91e2c0d14dc7e330d4824c4e83ba8dfb82802f9f96ff6667eb8907ee&X-Amz-SignedHeaders=host" style="border-radius: 12px; width:200px">
        <h2 class="item_name">이사로 정리합니다. 가구들 필요한거 가져가세요</h2>
        <h2 class="item_cost">999원</h2>
        <h1 class="item_place">광주 북구 신용동</h1>
        <div class="like_chating">
          <span class="like">관심 58</span>
          <span>&nbsp;&nbsp;・&nbsp;&nbsp;</span>
          <span class="chat">채팅 20</span>
        </div>
      </div>
      <div class="item">
        <img src="https://github-production-user-asset-6210df.s3.amazonaws.com/206796478/462331392-c34cbb65-f8bc-4b91-8415-b00789e418c3.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20250704%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250704T061934Z&X-Amz-Expires=300&X-Amz-Signature=00c55aea91e2c0d14dc7e330d4824c4e83ba8dfb82802f9f96ff6667eb8907ee&X-Amz-SignedHeaders=host" style="border-radius: 12px; width:200px">
        <h2 class="item_name">워터밤 서울 2025 초대권</h2>
        <h2 class="item_cost">30,000원</h2>
        <h1 class="item_place">경기도 성남시 분당구 이매동</h1>
        <div class="like_chating">
          <span class="like">관심 33</span>
          <span>&nbsp;&nbsp;・&nbsp;&nbsp;</span>
          <span class="chat">채팅 31</span>
        </div>
      </div>
      <div class="item">
        <img src="https://github-production-user-asset-6210df.s3.amazonaws.com/206796478/462331392-c34cbb65-f8bc-4b91-8415-b00789e418c3.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20250704%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250704T061934Z&X-Amz-Expires=300&X-Amz-Signature=00c55aea91e2c0d14dc7e330d4824c4e83ba8dfb82802f9f96ff6667eb8907ee&X-Amz-SignedHeaders=host" style="border-radius: 12px; width:200px">
        <h2 class="item_name">캠핑테이블</h2>
        <h2 class="item_cost">10,000원</h2>
        <h1 class="item_place">경기도 부천시 중동</h1>
        <div class="like_chating">
          <span class="like">관심 14</span>
          <span>&nbsp;&nbsp;・&nbsp;&nbsp;</span>
          <span class="chat">채팅 15</span>
        </div>
      </div>
      <div class="item">
        <img src="https://github-production-user-asset-6210df.s3.amazonaws.com/206796478/462331392-c34cbb65-f8bc-4b91-8415-b00789e418c3.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20250704%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250704T061934Z&X-Amz-Expires=300&X-Amz-Signature=00c55aea91e2c0d14dc7e330d4824c4e83ba8dfb82802f9f96ff6667eb8907ee&X-Amz-SignedHeaders=host" style="border-radius: 12px; width:200px">
        <h2 class="item_name">피시방 폐업 정리해요</h2>
        <h2 class="item_cost">30,000원</h2>
        <h1 class="item_place">강원도 원주시 단계동</h1>
        <div class="like_chating">
          <span class="like">관심 19</span>
          <span>&nbsp;&nbsp;・&nbsp;&nbsp;</span>
          <span class="chat">채팅 36</span>
        </div>
      </div>
    </div>
    <div class="more_item_wrap">
      <button class="more_item_btn">인기매물 더보기</button>
    </div>

  </div>
</div>
<div class="content_5">
  <div class="keyword_wrap">
    <button class="keyword_title">인기검색어</button>
  </div>
  <div class="keyword_wrap">
    <div class="keyword_wrap_row">
      <button class="keyword">텀블러</button>
      <button class="keyword">노트북</button>
      <button class="keyword">책상</button>
      <button class="keyword">맥북</button>
      <button class="keyword">카메라</button>
      <button class="keyword">스타벅스</button>
      <button class="keyword">에어컨</button>
      <button class="keyword">모니터</button>
      <button class="keyword">선풍기</button>
      <button class="keyword">책</button>
    </div>
  </div>
  <hr style="color:#495057">

</div>
</div>
</div>

<script>
  function submitForm(event) {
    event.preventDefault(); // 기본 제출 이벤트 막기

    // 입력된 값 가져오기
    const search_input = document.getElementsByClassName("search_input")[0].value;
    // 입력된 값 출력
    alert(`검색어: ${search_input}`);
  }
</script>
</body>
</html>