<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/tradeList.css}">
</head>
<body>
<div>
    <h1 class="top_title">중고거래 인기매물</h1>
    <div class="content_4_wrap">
        <div class="item_row">
            <div class="item">
                <img src="https://dnvefa72aowie.cloudfront.net/origin/article/202303/2e3462bb439e276d12b809c12f515a5ee4ed128aa4799ca88879a79de0df7c79.webp?q=82&s=300x300&t=crop" style="border-radius: 12px; width:200px">
                <h2 class="item_name">위닉스제습기</h2>
                <h2 class="item_cost">50,000원</h2>
                <h1 class="item_place">서울 성동구 행당동</h1>
                <div class="like_chating">
                    <span class="like">관심 15</span>
                    <span>&nbsp;&nbsp;・&nbsp;&nbsp;</span>
                    <span class="chat">채팅 48</span>
                </div>
            </div>
            <div class="item">
                <img src="https://dnvefa72aowie.cloudfront.net/origin/article/202303/8c895d09679a822fc66fc85d9171a4c93af08f25b69c66b245e6dda3d3334702.webp?q=82&s=300x300&t=crop" style="border-radius: 12px; width:200px">
                <h2 class="item_name">LG 43인치 UHDtv 팝니다.</h2>
                <h2 class="item_cost">250,000원</h2>
                <h1 class="item_place">경기도 안양시 만안구 안양동</h1>
                <div class="like_chating">
                    <span class="like">관심 28</span>
                    <span>&nbsp;&nbsp;・&nbsp;&nbsp;</span>
                    <span class="chat">채팅 64</span>
                </div>
            </div>
            <div class="item">
                <img src="https://dnvefa72aowie.cloudfront.net/origin/article/202303/c2bbbad3e6b2b451aac966c26938a4ef8db909109c61876a2c614d204a888529.webp?q=82&s=300x300&t=crop" style="border-radius: 12px; width:200px">
                <h2 class="item_name">lg 레트로 tv</h2>
                <h2 class="item_cost">50,000원</h2>
                <h1 class="item_place">광주 남구 임암동</h1>
                <div class="like_chating">
                    <span class="like">관심 21</span>
                    <span>&nbsp;&nbsp;・&nbsp;&nbsp;</span>
                    <span class="chat">채팅 28</span>
                </div>
            </div>
            <div class="item">
                <img src="https://dnvefa72aowie.cloudfront.net/origin/article/202303/7c0a3c3645abc9f767d9b437449edff4d0e1aa472b1483c45b26d01d93c3965d.jpg?q=82&s=300x300&t=crop" style="border-radius: 12px; width:200px">
                <h2 class="item_name">아이폰14pro</h2>
                <h2 class="item_cost">100,000원</h2>
                <h1 class="item_place">충남 아산시 배방음</h1>
                <div class="like_chating">
                    <span class="like">관심 12</span>
                    <span>&nbsp;&nbsp;・&nbsp;&nbsp;</span>
                    <span class="chat">채팅 36</span>
                </div>
            </div>
        </div>
        <div class="item_row">
            <div class="item">
                <img src="https://dnvefa72aowie.cloudfront.net/origin/article/202303/e71e173af178d80d5c134dbcbe9dd032dd76410552d83e7e7770a6f1594ff18f.jpg?q=82&s=300x300&t=crop" style="border-radius: 12px; width:200px">
                <h2 class="item_name">이사가느라 가전 팔아요~! 골라...</h2>
                <h2 class="item_cost">99원</h2>
                <h1 class="item_place">광주 북구 신용동</h1>
                <div class="like_chating">
                    <span class="like">관심 28</span>
                    <span>&nbsp;&nbsp;・&nbsp;&nbsp;</span>
                    <span class="chat">채팅 20</span>
                </div>
            </div>
            <div class="item">
                <img src="https://dnvefa72aowie.cloudfront.net/origin/article/202303/d7e2b2bc48a4a3baf62001316228f72a948dcdead02b5a2f665ea188676fe44e.jpg?q=82&s=300x300&t=crop" style="border-radius: 12px; width:200px">
                <h2 class="item_name">발뮤다 더 토스터, 더 오븐레인지...</h2>
                <h2 class="item_cost">100,000원</h2>
                <h1 class="item_place">경기도 성남시 분당구 이매동</h1>
                <div class="like_chating">
                    <span class="like">관심 33</span>
                    <span>&nbsp;&nbsp;・&nbsp;&nbsp;</span>
                    <span class="chat">채팅 31</span>
                </div>
            </div>
            <div class="item">
                <img src="https://dnvefa72aowie.cloudfront.net/origin/article/202303/e7d0c5184c3271677158ba9ddea950c23f1d8d545ad678d2e809a4efef69bef2.webp?q=82&s=300x300&t=crop" style="border-radius: 12px; width:200px">
                <h2 class="item_name">캠핑테이블</h2>
                <h2 class="item_cost">10,000원</h2>
                <h1 class="item_place">경기도 부천시 중동</h1>
                <div class="like_chating">
                    <span class="like">관심 14</span>
                    <span>&nbsp;&nbsp;・&nbsp;&nbsp;</span>
                    <span class="chat">채팅 15</span>
                </div>
            </div>
            <div class="item">
                <img src="https://dnvefa72aowie.cloudfront.net/origin/article/202303/669441b3e3d3df4baba0b3b4b2c305de8b2225c8d2e2ee35eb7dfb700922b17c.webp?q=82&s=300x300&t=crop" style="border-radius: 12px; width:200px">
                <h2 class="item_name">메세타 화목난로</h2>
                <h2 class="item_cost">30,000원</h2>
                <h1 class="item_place">강원도 원주시 단계동</h1>
                <div class="like_chating">
                    <span class="like">관심 19</span>
                    <span>&nbsp;&nbsp;・&nbsp;&nbsp;</span>
                    <span class="chat">채팅 36</span>
                </div>
            </div>
        </div>
        <div class="more_item_wrap">
            <button class="more_item_btn">인기매물 더보기</button>
        </div>

    </div>
</div>
</body>
</html>