<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>

    <!-- 로그인 전용 CSS -->
    <link rel="stylesheet" th:href="@{/css/login/login.css}">
    <link rel="stylesheet" th:href="@{/css/header/header.css}">
</head>
<body>
<!-- 헤더 고정 삽입 -->
<div th:replace="fragments/header :: headerFragment"></div>


<form th:action="@{/login}" method="post" class="login-form">
    <!-- 로그인 오류 메시지 표시 -->
    <div class="error-message" th:if="${error}">
        <p th:text="${error}">아이디 또는 비밀번호가 올바르지 않습니다.</p>
    </div>

    <div class="form-group">
        <label for="username">아이디</label>
        <input type="text" id="username" name="username" placeholder="아이디를 입력해주세요" required>
    </div>

    <div class="form-group">
        <label for="password">비밀번호</label>
        <input type="password" id="password" name="password" placeholder="비밀번호를 입력해주세요" required>
    </div>

    <button type="submit" class="btn-login">로그인</button>

    <a th:href="@{/oauth2/authorization/google}" class="btn-google-login">
        <img th:src="@{/asset/googlelogo.png}" alt="Google 로고">
        Google로 로그인
    </a>
</form>

<div class="login-footer" style="text-align: center;">
    당근마켓 회원이 아니신가요? <br>
    <a th:href="@{/register}" class="register-link">회원가입</a>
</div>

</body>
</html>
